:root {
  --tab-primary: #808285;
  /* Active Color */
  --tab-secondary: #fff;
  /* Normal Color and Border */
  --tab-hover: #808285;
  /* Hover Color */
}

li {
  height: 41px;
  font-size: 14px;
  padding: 0 0;
}

:global(.tabs nav a) {
  display: block;
  font-size: 1.45em;
  line-height: 41px;
  padding: 0em 1em;
  white-space: nowrap;
  text-decoration: none;
}

:global(.tabs nav ul li:not(.tab-current)) {
  background-color: black;
}

:global(li.tab-current) {
  background-color: white;
}