{{#fullwidth-tabs as |tab|}}
  {{#tab.pane title="Home" icon="fa fa-home"}}
    {{e-search/searchDropdown airports=this.airports}}
  {{/tab.pane}}

  {{#tab.pane title="Profile" icon="fa fa-profile"}}
    <h1>Profile</h1>
    <p>Content for profile tab goes here</p>
  {{/tab.pane}}

  {{#tab.pane title="Settings" icon="fa fa-settings"}}
    <h1>Home</h1>
    <p>Content for settings tab goes here</p>
  {{/tab.pane}}

  {{#tab.pane title="Message" icon="fa fa-message"}}
    <h1>Home</h1>
    <p>Content for message tab goes here</p>
  {{/tab.pane}}
{{/fullwidth-tabs}}