@media screen and (max-width: $break-large) {
  div:global(.ember-power-select-trigger) {
    margin-bottom: 10px;
    width: 300px !important;
  }

  .dropdownHolder {
    width: 310px;
  }
}

div:global(.ember-power-select-trigger) {
  width: 350px;
  height: 36px;
  border-radius: 0;
  text-align: center;
}

.dropdownHolder {
  width: 380px;
  display: flex;
  justify-content: center;
}

span:global(.ember-power-select-selected-item) {
  line-height: 36px;
}