<div class={{this.style.dropdownHolder}}>
  {{#power-select
    options=this.options
    disabled=this.isDisabled
    selected=this.selectedOption
    placeholder=this.placeholder
    searchEnabled=this.searchEnabled
    search=(action "search")
    onchange=(action "updateSelectedOption")
    as |option|}}
      <strong>{{compute (action "displayValue") option}}</strong>
  {{/power-select}}
</div>